body {
    margin: 0;
    padding: 0;
}
#wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}
#field {
    float:left;
    width: 210px;
    height: 210px;
    margin: 0;
    border: solid 1px;
    border-radius: 10%;
    text-align: center;
}
img {
    border-radius: 20%;
  /*display: none;*/
}
#watermelon {
    padding-top: 20px;
}
#malina{
    padding-top: 20px;
}
#grusha {
    padding-top: 15px;
}
#klubnika {
    padding-top: 15px;
}
#banana {
    padding-top: 19px;
}

#close {
    display: none;
}